MYSQL_DATABASE=rust_axum_sqlx
MYSQL_USER=user
MYSQL_PASSWORD=password123
MYSQL_ROOT_PASSWORD=password123

# Rust also support placeholder
# It's for sqlx cli and our app rust sqlx
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@127.0.0.1:3306/${MYSQL_DATABASE}
